//-
   Dayof checkin view

extends _layout-admin

block append vars
    - bodyAttr = {"data-ng-app": "brh.controllers"}

block append admin_content
    div(data-ng-controller='checkin.ctrl')
        +contentHeading("Event Scan")
        #searchparameters.col-md-12
            section#camera(ng-init='showVideo = true')
                label Scan QR Code
                br
                video(autoplay id="camera-demo" poster="http://cirocosta.github.io/qcode-decoder/dist/assets/webcam.png" ng-show="showVideo")
                br(ng-show="showVideo")
                div(align="center")
                    button(id='scanQR' class='btn' ng-click="showVideo = true") Start Scanning
                    button(id='stopScanQR' class='btn' ng-click="showVideo = false") Stop Scanning
            br


block append footer
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js')
    script(src='//s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js')
    script(src='//cirocosta.github.io/qcode-decoder/build/qcode-decoder.min.js')
    script(src='/js/admin/qrscan.js')
