extends _layout-admin

block admin_content
    +contentHeading("Sponsor Materials")
    div.media#contactInfo
        div.media-left
            a(href="./sponsors/contactInfo")
                img.media-object(src="../img/extra/userInfo.png" alt="..." style="width: 80px; height: 80px")
        div.media-body
            h4.media-heading Contact Info (.csv)
            p For Tier 2 or special cases! Includes name, email, phone number, major, gender, year!

    hr

    div.media#deluxeContactInfo
        div.media-left
            a(href="./sponsors/deluxeContactInfo")
                img.media-object(src="../img/extra/deluxeUserInfo.png" alt="..." style="width: 80px; height: 80px")
        div.media-body
            h4.media-heading Deluxe Contact Info (.csv)
            p For Tier 3 and above sponsors! Includes name, email, phone number, major, gender, year, GitHub, LinkedIn.