//-
   Travel information
    * This page does not follow the style guide for inline text.
        It should gradually be transitioned to use inline tags rather than piping.

extends _layout-dashboard

block dashboard_content
    +contentHeading("Travel")

    .container-fluid

        +sectionHeading("Location")
        p.long-text
            | BigRed//Hacks will take place on Cornell University's campus.
            | The opening and closing ceremonies will be taking place at Call Auditorium in 
            a(href="https://www.google.com/maps/place/Kennedy+Hall", target="_blank") Kennedy Hall.
            | The hacking/main events will take place at the
            a(href='https://www.google.com/maps/place/Physical+Sciences+Building,+245+East+Ave,+Ithaca,+NY/', target='_blank')  Physical Sciences Building (PSB).

        +sectionHeading("BRH Bus Information")
        p.long-text
            | The bus itineraries for schools can be found 
            a(href='https://www.bus.com/event-summary/861834218-bigred-hacks-2019?access-token=69c630b2-85c0-4de1-9c7d-8edf4bef8626') here, 
            | which will give exact details of departure and arrival times on both September 20 and 22.
            | A bus may have been suggested to you if you are closer than #[em 50 miles] from a bus stop.
            | More information about exact times will be posted here closer to the hackathon date.
        p We are searching for bus captains! If you are interested, please email 
            a(href='mailto:info@bigredhacks.com?subject=Transportation') info@bigredhacks.com
            |  if you'd like to help out.
            | If you have decided to take a bus, please plan to arrive #[em on time].
            |  The buses run on strict schedules, and they will leave with or without you on board.
            |  All times are approximate and may be subject to changes depending on traffic conditions and
            |  availability. Please coordinate with your school's bus captain, as they will have the most
            |  up-to-date information.

        //- p Please have proof of purchase ready to get on the bus. This can be a screenshot or a paper printout of your deposit.
        
        +sectionHeading("Planning your own travel")
        p.long-text
            | If you are planning your own travel, please plan to arrive on Friday around
            |  5:30 PM and to leave on Sunday around 3:00 PM.
        p.long-text
            | Note that we will not reimburse any upgrades, tickets, or any change fees.
            | Please be reasonable when planning your travel, or we will not reimburse you!

        h3 Traveling by Shortline
        p.long-text
            | Please plan to get off at the West Campus stop. Kennedy Hall is roughly 20
            | minutes by foot, but be aware -- the West Campus stop sits at the bottom of Cornell's
            | famous Slope, and will involve a signficant amount of walking uphill. You can also take
            | the TCAT bus from the nearby Baker Flagpole stop.
        h3 Traveling by Greyhound / non-Shortline
        p.long-text
            |  Non-Shortline buses will drop you off near the Green St @ Commons TCAT stop, 
            |  where you can take the TCAT routes
            a(href='http://tcat.nextinsight.com/pdfpics/30_fall2015.pdf', target='_blank')  30 outbound
            |  or
            a(href='http://tcat.nextinsight.com/pdfpics/32_fall2015.pdf', target='_blank')  32 outbound
            | . The TCAT fare is $1.50. Alternatively, you can take a taxi or Uber/Lyft. Some taxi options include
            a(href='http://www.ithacataxi.biz/', target='_blank')  Ithaca Dispatch
            |  and
            a(href='http://collegetowncab.com/', target='_blank')  Collegetown Cab. 
        h3 Traveling by Car
        p.long-text
            | If you are traveling by car, you can park your car at&nbsp;
            a(href='https://www.google.com/maps/place/A+Lot,+Ithaca,+NY+14850/@42.4584572,-76.4777676,18z/' target='_blank') A Lot
            | . You will not need a parking permit to park there after 5pm on Friday
            |  through Sunday; however, if you plan on staying longer, you will need a temporary permit
            |  starting 7:30AM on Monday. More details can be found on the&nbsp;
            a(href='https://fcs.cornell.edu/content/short-term-parking-options', target='_blank')
                | Cornell Commuter and Parking Services Website
            | . We are not responsible for any fines for parking violations.
        p.long-text
            | If A Lot is filled, there are several garages in the Commons that are inexpensive
            |  and also offer free parking during off-hours. The TCAT, our local bus company, provides several
            |  routes (we recommend route 30) that run from the Commons to the center of campus. You can take route
            a(href='http://tcat.nextinsight.com/pdfpics/30_fall2015.pdf', target='_blank')  30 outbound
            |  or
            a(href='http://tcat.nextinsight.com/pdfpics/32_fall2015.pdf', target='_blank')  32 outbound
            |  , getting on at the #[em  Green St @ Commons] stop (42°26'18.8"N 76°29'51.5"W). Get off at
            | #[em  Rockefeller Hall]. The TCAT fare is $1.50.
        h3 Traveling by Plane
        p.long-text
            | The most straightforward flight is directly to Ithaca's own airport, 
            a(href='http://flyithaca.com', target='_blank') the Ithaca Tompkins Area Airport (ITH).
            | If you are flying in to this airport, you can take a&nbsp;
            a(href='http://flyithaca.com/ground/', target='_blank') taxi
            |  (~$15-$20) to campus. Alternatively, you can take the TCAT route&nbsp;
            a(href='http://tcat.nextinsight.com/pdfpics/32_fall2015.pdf') 32 inbound
            |  and get off at #[em  Goldwin Smith Hall].
        p.long-text
            | A few other options are flying to either the Syracuse Hancock International Airport (SYR) or
            | an airport from New York City and then taking a bus to Cornell. 
            a(href='https://www.wanderu.com/en/bus-tickets/us-ny/syracuse/us-ny/ithaca/', target='_blank')  Buses from Syracuse to Ithaca 
            |  are around $20 and stop at the Green @ Commons TCAT stop. See the Traveling by Greyhound section above for more information.
        p.long-text
            |  We are considering chartering a bus from NYC departing around 12:30 pm, but if we decide not to offer this,
            |  or you cannot find a flight in that time frame,
            |  buses from New York City to Ithaca are around $50-$90. Some bus options include&nbsp;
            a(href='http://sales.coachusa.com/home.aspx?pid=5', target='_blank') Coach Shortline
            |  and 
            a(href='https://c2cbus.ipp.cornell.edu/', target='_blank')  Campus to Campus
            | . For the Shortline bus, see 'Traveling by Shortline' above for more information. For
            | Campus to Campus, you can select to be dropped off at Sage Hall. Due to construction,
            | the actual drop off site will be Uris Hall.
