extends _global/_layout

mixin showMessages(messages)
    if messages.error
        h1 error
        .alert.alert-danger(role="alert") #{messages.error[0].toLowerCase()}
    if messages.success
        h1 success
        .alert.alert-success(role="alert") #{messages.success[0].toLowerCase()}

block append header
    link(href="/css/index.css", rel="stylesheet")
block append content

    +showMessages(messages)

    //- TODO: Change the font and other css to match design specs when you get them
    div#splash2017
        h1 BigRed
            b //Hacks
        h3 Sept. 15 - 17, 2017 @ Ithaca, NY

        input#scroll(type="text" class="form-control")

        //- TODO: Insert keyboard image/graphic here
        img#keyboard(src="/img/keyboard_components/Keys.png")

        //- TODO: Add the social media icons. Check the commented out old footer below for info.
        div#bottomkeys
            a#fb(href='http://www.facebook.com/BigRedHacks', target='_blank', class="keyicon")
                img(src="/img/keyboard_components/Facebook.png", class="fill")
            a#twitter(href='http://www.twitter.com/BigRedHacks', target='_blank', class="keyicon")
                img(src="/img/keyboard_components/Twitter.png", class="fill")
            a#insta(href='https://www.instagram.com/bigredhacks/', target='_blank', class="keyicon")
                img(src="/img/keyboard_components/Instagram.png", class="keyicon", class="fill")
            a#email(href='mailto:info@bigredhacks.com', class="keyicon")
                img(src="/img/keyboard_components/Email.png", class="keyicon", class="fill")
            //- TODO: Add the subscribe here 
            div#spacebar(class='spacebar_subscribe')
                input#reg_email
            img#signup(src="/img/keyboard_components/Sign_Up.png", class="keyicon")
            img#rightkeys(src="/img/keyboard_components/right_keys.png", class="keyicon")

block footer
    //- script(src="/js/jquery.validate.options.js")
    script(src="//code.jquery.com/jquery-3.2.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
    script(src="//rawgit.com/mattboldt/typed.js/master/dist/typed.min.js")
    script(src="/js/index.js")    