extends _global/_layout

block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
    div#hero
    div#section__about
        div.content-margins
            div.box
                h1.section__header.center
                    div.rect
                    | Who Are We
                    div.rect
                div.about__row
                    div.left
                        img.spotlight__image(src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="")
                    div.right
                        p.about__text BigRed//Hacks is the oldest student-run, large-scale hackathon at Cornell University.

                        p.about__text Across three days, Cornell and non-Cornell students alike gather to build the coolest and most innovative projects, meet amazing people, and win some prizes along the way!

            h2.section__subtitle PREVIOUS HACKATHONS
            div.previous__spotlight
                a.previous__image(href="/2017")
                    img(src="/img/f2017/header.png" alt="")
                a.previous__image(href="#")
                    img(src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="")
                a.previous__image(href="/2019")
                    img(src="/img/2019/logo.svg" alt="")

    div#section__team
        div.content-margins
            h1.section__header.center
                div.rect
                | Big Red Team
                div.rect
            p We are organizing team behind the BigRed//Hacks hackathon! Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            div.member__showcase
                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team LEADS

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team ADVISORS

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team LOGISTICS

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team MARKETING

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team SPONSORSHIP

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team FINANCE

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team DESIGN

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team WEB DEVELOPMENT

            a.learn(href="#") Learn more about Recruitment and the Team >
            h2.section__subtitle  MEMBER SPOTLIGHT
            div.member__spotlight
                div.left
                    img.spotlight__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")

                div.right
                    p.spotlight__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut eros vitae leo tincidunt efficitur et eleifend urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tincidunt, nisl in consectetur lacinia, magna turpis aliquet elit, quis sagittis dui erat vitae lacus.

                    p.spotlight__text Donec tempor fermentum malesuada. Proin quis metus justo. Ut vitae mi malesuada, molestie nisl eu, malesuada arcu. Proin molestie egestas maximus. Pellentesque sagittis at tellus a interdum.
    div#section__faq
        div.content-margins
            h1.section__header.center
                div.rect
                | Frequently Asked Questions
                div.rect
            div.box
                h2.faq__question Is the Fall 2020 BigRed//Hacks still happening?
                p.answer Our hackathon date is currently set for September 25-27. If needed, we will push it back to October/November 2020 or spring 2021. We may consider hosting a remote hackathon if it is pushed back to the spring.
            div.box
                h2.faq__question Who is eligible to participate?
                p.answer We are inviting all undergraduate and graduate students to participate in our hackathon. You don't need any past experience. You don't even need to be a computer science major! Our only requirement is that you are at least 18 years old and enrolled in an accredited college or university.
            div.box
                h2.faq__question What will I need to bring?
                p.answer Bring your school ID for registration. You are also responsible for bringing any equipment for building and demoing your hack: laptop, chargers, phones, etc. You may also want to bring a sleeping bag, change of clothes, and toothbrush.
            div.box
                h2.faq__question What are the rules?
                p.answer We want BigRed//Hacks to be fun and fair for everyone. Your project should be started from scratch and worked on only during the 36 hours, and you may only incorporate outside resources (code, graphics, sound, etc) that are freely licensed and accessible to all participants equally. Of course, maintain a positive, respectful attitude toward your fellow hackers throughout the event.
            div.box
                h2.faq__question Do I have to sign up with a team?
                p.answer You don't have to sign up with a team, but it's certainly more fun! We allow teams of up to four people (they don't have to be from the same school), and while they can be specified on the application, you won't officially create your team until the event. If you don't have a team yet, we'll host a social before the hacking begins for you to meet other amazing people.
            div.box
                h2.faq__question Why is there an application?
                p.answer We want to guarantee that students from a wide range of schools and experiences are given an equal and fair chance to participate. Furthermore, we hope that the process will encourage registrants to be committed to building something awesome. Even if you've never been to a hackathon before, please apply!
            div.box
                h2.faq__question Are you providing food?
                p.answer Don't worry, there will be lots of delicious food and beverages at our event, complimentary to all participants. We'll have vegetarian options as well.
            div.box
                h2.faq__question How does travel reimbursement work?
                p.answer At this time, we are unsure about how much travel reimbursement we will be able to offer. We currently have bus routes for the following schools: Buffalo, RIT, Princeton, Rutgers, and Binghamton. Depending on our budget and interest from other schools, we may be able to send out more buses! If your school is not listed, pease message us at info@bigredhacks.com about travel reimbursement, and we will see what we can do on a case-by-case basis. In the past, we have capped reimbursement at $200 per person. Thank you!
            div.box
                h2.faq__question Have more questions?
                p.answer Send them to <a href="mailto:info@bigredhacks.com">info@bigredhacks.com</a>!

    div#footer

block footer
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    //- script(src="/js/index.js")
//-     script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js")
//-     script(src="/js/jquery.validate.options.js")
//-     script(src="//cdnjs.cloudflare.com/ajax/libs/parallax/2.1.3/parallax.min.js")

