extends _global/_layout

block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
    //- MLH Badge
    div(id="nav-mobile")
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#mobile-nav-links' aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#")
              img(alt="Big Red Hacks" src="/img/logo/brh-horizontal-white.png" class="nav-logo")
                
          #mobile-nav-links.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#') Home
              li
                a(href='#about') About
              //- li
                a(href='#team') Team
              li
                a(href='#schedule') Schedule
              li
                a(href='#faq') FAQ
              li
                a(href='#sponsors') Sponsors

    a#mlh-trust-badge(href='https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=white' target='_blank')
        img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-white.svg' alt='Major League Hacking 2020 Hackathon Season' style='width:100%')

    
    div(id="nav-desktop")
        div#nav-home.nav-item.active
            a(href='#home')    
                div.nav-circle#home-star  
                div.nav-dialog#home-dialog
                    .triangle-border.right
                        | Home

        div#nav-about.nav-item
            a(href='#about')
                div.nav-circle#about-star
                div.nav-dialog#about-dialog
                    .triangle-border.right
                        | About
            

        div#nav-schedule.nav-item
            a(href='#schedule')
                div.nav-circle#schedule-star
                div.nav-dialog#schedule-dialog
                    .triangle-border.right
                        | Schedule
                
        //- div#nav-team.nav-item
            a(href="#team")
                div.nav-circle#team-star
                div.nav-dialog#team-dialog
                    .triangle-border.right
                        | Team

        div#nav-faq.nav-item
            a(href='#faq')
                div.nav-circle#faq-star
                div.nav-dialog#faq-dialog
                    .triangle-border.right   
                        | FAQ

        div#nav-sponsors.nav-item
            a(href='#sponsors')
                div.nav-circle#sponsors-star                
                div.nav-dialog#sponsors-dialog
                    .triangle-border.right
                        | Sponsors       

    div
        div#home
            .home-container
                div.home-content
                    h2 Cornell University's 
                    h3 Oldest and Largest Hackathon
                    h1 September 20-22, 2019
                    h3 Applications are now closed
                    
                    //- unless regOpen
                        a(href="#interested").interest-button
                            div Subscribe for updates
                    
                    
                    .action-buttons
                        //- a(href="/register")
                            div Apply
                        a(href="/login")
                            div Login


                div.logo
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 100 100', preserveAspectRatio='none').triangle.bottom
                polygon(fill='white', points='0,0 0,101 100,101')    
        
        div#about
            div.innerContent
                div.paddedSection
                    h1.section-header#about-header.center
                        div.rect
                        | Who we are
                        div.rect
                    .container-fluid
                        .row
                            .col-md-6
                                img(src="/img/home/brh_about.jpg").img-responsive#about-img
                                div.btn-social-group.text-center
                                    p.text.bold Follow us on Facebook and Twitter!
                                    a.btn.btn-social.facebook(href="https://facebook.com/bigredhacks" target="_blank")
                                        span.fa.fa-facebook-square
                                    a.btn.btn-social.twitter(href="https://twitter.com/bigredhacks" target="_blank")
                                        span.fa.fa-twitter
                            .col-md-6
                                div.text-container
                                    p.text
                                        | BigRed//Hacks is the oldest student-run, large-scale hackathon at Cornell University.
                                    p.text
                                        | Across three days, Cornell and non-Cornell students alike gather to build the coolest
                                        | and most innovative projects, meet amazing people, and win some prizes along
                                        | the way!
                                
                                br
                                unless regOpen      
                                    .interestForm#interested 
                                        h2.text-title Interested?
                                        p.text Join our email list to get the first scoop on upcoming events!
                                        .field-group
                                            .field
                                                label(for="firstName") First Name *
                                                input(type="text" name="firstName" id="firstName" required)

                                            .field
                                                label(for="lastName") Last Name *
                                                input(type="text" name="lastName" id="lastName" required)
                                        .field-group
                                            .field
                                                label(for="fname") Email Address *
                                                input(type="email" name="email" id="email" required)    
                                        .btnContainer
                                            button(class="btn btn-primary interestFormBtn" id="submitForm") Submit
                                        .msgContainer.error
                                if regOpen
                                    p.text.bold Registration for BigRed//Hacks 2019 is 
                                        a(href="/register") now open!
        
        div#schedule
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 100 100', preserveAspectRatio='none').triangle.top
                polygon(fill='white', points='-1,-1 -1,101 101,-1')
            div.paddedSection
                h1.section-header.center
                    .rect
                    | Event Schedule
                    .rect
                .container-fluid
                    .col-md-4.col-sm-12
                        h3.table-title September 20th
                        table
                            tr 
                                th Time
                                th Event
                                th 
                            tr 
                                td 3:00pm
                                td Registration Opens
                                td
                                
                            tr 
                                td 4:00pm
                                td Busses Arrive
                                td
                            tr
                                td.bold 6:00pm
                                td.bold Opening Ceremony
                                td
                            tr 
                                td.bold 7:00pm
                                td.bold Hacking Begins
                                td Team Formation
                            tr
                                td 8:00pm
                                td Dinner
                                td
                            tr
                                td 9:00pm
                                td Various API Demos
                                td
                            tr
                                td 10:00pm
                                td Night Hike
                                td

                    .col-md-4.col-sm-12
                        h3.table-title September 21st
                        table
                            tr
                                th Time
                                th Event
                            tr
                                td 12:00am
                                td Midnight Snack
                            tr 
                                td 8:00am
                                td Breakfast
                            tr
                                td 9:00am
                                td Morning Hike
                            tr 
                                td 10:00am
                                td API Demos
                            tr
                                td 1:00pm
                                td Lunch
                            tr 
                                td 4:00pm
                                td Dog Petting
                            tr
                                td 7:00pm
                                td Dinner
                            tr
                                td 8:00pm
                                td Ice Skating
                            tr
                                td 10:00pm
                                td Cup Stacking
                            
                    .col-md-4.col-sm-12
                        h3.table-title September 22nd
                        table
                            tr
                                th Time
                                th Event
                            tr
                                td 12:00am
                                td Midnight Snack
                            tr
                                td 7:00am
                                td Breakfast
                            tr
                                td.bold 8:00am
                                td.bold Hacking Ends
                            tr
                                td 9:00am
                                td Project Expo
                            tr
                                td 11:00am
                                td Trivia
                            tr
                                td 12:00pm
                                td Lunch
                            tr
                                td.bold 1:00pm
                                td.bold Closing Ceremony + Prizes

            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 100 100', preserveAspectRatio='none').triangle.bottom
                polygon(fill='#fe1736', points='-1,-1 -1,101 101,101')
                polygon(fill='#000000', points='-1,-1 -1,5 101,101 101,95')
        //- div#team
            div.innerContent
                div.paddedSection
                    h1.section-header
                        div.rect
                        | Big Red Team
                        div.rect
                    p.text.text-center
                        | Big Red Hacks is made possible by a team of Cornell undergraduate
                        | students passionate about hackathons, innovation, and fun!
                    h2.text-title.text-center Team Leads
                    br
                    div.container-fluid
                        .row.team-row
                            .col-md-3.col-sm-6.text-center                             
                              img(src="/img/team/placeholder.png" class="team-photo" draggable="false")
                              h3.text-title Co-president
                              p.text First Last
                            .col-md-3.col-sm-6.text-center
                              img(src="/img/team/placeholder.png" class="team-photo" draggable="false")
                              h3.text-title Co-president
                              p.text First Last
                            .col-md-3.col-sm-6.text-center 
                              img(src="/img/team/placeholder.png" class="team-photo" draggable="false")
                              h3.text-title Logistics
                              p.text First Last
                            .col-md-3.col-sm-6.text-center
                              img(src="/img/team/placeholder.png" class="team-photo" draggable="false")
                              h3.text-title Marketing
                              p.text First Last
                        .row.team-row
                            .col-md-3.col-sm-6.text-center
                              img(src="/img/team/placeholder.png" class="team-photo" draggable="false")
                              h3.text-title Sponsorship
                              p.text First Last
                            .col-md-3.col-sm-6.text-center 
                              img(src="/img/team/placeholder.png" class="team-photo" draggable="false")
                              h3.text-title Finance
                              p.text First Last
                            .col-md-3.col-sm-6.text-center
                              img(src="/img/team/placeholder.png" class="team-photo" draggable="false")
                              h3.text-title Design
                              p.text First Last
                            .col-md-3.col-sm-6.text-center
                              img(src="/img/team/placeholder.png" class="team-photo" draggable="false") 
                              h3.text-title Web Dev
                              p.text First Last

                    p.text.text-center
                        | Interested in joining the Big Red Hacks team? Check back in the fall!
                    
                    h2.section-subheader.text-center Member Spotlight
                    br
                    .container-fluid
                      .row
                        .col-md-6.text-center
                          img(src="/img/team/placeholder.png" class="team-photo" draggable="false")
                        .col-md-6
                          h3.section-subheader First Last
                          h4.section-subheader Position
                          p.text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan finibus tortor. Ut luctus ut libero vel scelerisque. Fusce viverra arcu et libero varius, vel porta neque facilisis. Quisque faucibus maximus libero non consectetur. Nullam faucibus eros ut nunc cursus semper. Ut at rhoncus tellus. Vivamus maximus quam id finibus tincidunt. Vestibulum blandit dolor eget tincidunt sodales. Integer diam nisi, interdum sed orci sed, cursus maximus nunc. Cras sollicitudin scelerisque euismod. Pellentesque ultricies euismod rutrum. Curabitur tempus, quam sed aliquam rhoncus, leo ex eleifend turpis, vel semper eros dui quis risus. Quisque et nisl vel ipsum bibendum scelerisque. 
                    br
        div#faq
            div.innerContent
                div.paddedSection
                    h1.section-header.center
                        div.rect
                        | Frequently Asked Questions
                        div.rect
                    .container-fluid
                        .col-sm-6
                            .faq-box
                                dt Who is eligible to participate?
                                dd
                                    | We are inviting all undergraduate and graduate students to participate in our hackathon.
                                    | You don't need any past experience.
                                    | You don't even need to be a computer science major!
                                    | Our only requirement is that you are at least 18 years old and enrolled in an accredited college or university.
                            .faq-box
                                dt What will I need to bring?
                                dd
                                    | Bring your school ID for registration.
                                    | You are also responsible for bringing any equipment for building and demoing your hack: laptop, chargers, phones, etc.
                                    | You may also want to bring a sleeping bag, change of clothes, and toothbrush.
                            .faq-box
                                dt Do I have to sign up with a team?
                                dd
                                    | You don't have to sign up with a team, but it's certainly more fun!
                                    | We allow teams of up to four people (they don't have to be from the same school), and while they can be specified on the application, you won't officially create your team until the event.
                                    | If you don't have a team yet, we'll host a social before the hacking begins for you to meet other amazing people.
                            .faq-box
                                dt Are you providing food?
                                dd
                                    | Don't worry, there will be lots of delicious food and beverages at our event, complimentary to all participants.
                                    | We'll have vegetarian options as well.
                        .col-sm-6
                            .faq-box
                                dt Are hardware hacks allowed?
                                dd
                                    | We will be providing a dedicated hardware lab with sensors, microcontrollers, and basic components.
                                    | Some of our sponsors are bringing hardware to loan, but we still suggest that you bring your own equipment if you know that you'll absolutely need it.
                            .faq-box
                                dt What are the rules?
                                dd
                                    | We want BigRed//Hacks to be fun and fair for everyone.
                                    | Your project should be started from scratch and worked on only during the 36 hours, and you may only incorporate outside resources (code, graphics, sound, etc) that are freely licensed and accessible to all participants equally.
                                    | Of course, maintain a positive, respectful attitude toward your fellow hackers throughout the event.
                            .faq-box
                                dt Why is there an application?
                                dd
                                    | We want to guarantee that students from a wide range of schools and experiences are given an equal and fair chance to participate.
                                    | Furthermore, we hope that the process will encourage registrants to be committed to building something awesome.
                                    | Even if you've never been to a hackathon before, please apply!

                            .faq-box
                                dt How does travel reimbursement work?
                                dd
                                    | At this time, we are unsure about how much travel reimbursement we will be able to offer.
                                    | We currently have bus routes for the following schools: Buffalo, RIT, Princeton, Rutgers, and Binghamton. 
                                    | Depending on our budget and interest from other schools, we may be able to send out more buses! 
                                    | If your school is not listed, pease message us at info@bigredhacks.com about travel reimbursement, and we will see what we can do on a case-by-case basis.
                                    | In the past, we have capped reimbursement at $200 per person. Thank you!

                            .faq-box
                                dt Have more questions?
                                dd Send them to #[a(href="mailto:info@bigredhacks.com") info@bigredhacks.com]!
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 100 100', preserveAspectRatio='none').triangle.bottom
                polygon(fill='#ffffff', points='100,0 0,100 100,100')
                polygon(fill='#000000', points='0,100 0,95 100,0 100,5')
        div#sponsors
            div.innerContent
                div.paddedSection
                    h1.section-header.center
                        div.rect
                        | Sponsors
                        div.rect
                    div#logos
                        div.logo-3.logo-group
                            a(href="//www.wayfair.com" target="_blank")
                                img#wayfair(src="/img/2019/sponsors/wayfair.png" alt="Wayfair Logo")   
                        div.logo-2.logo-group
                            a(href="//www.ibm.com/" target="_blank")
                                img#ibm(src="/img/2019/sponsors/ibm.png" alt="IBM Logo")
                            a(href="//www.cloud.google.com" target="_blank")
                                img#google(src="/img/2019/sponsors/google_cloud.png" alt="Google Cloud Logo")
                            a(href="//www.bloomberg.com" target="_blank")
                                img#bloomberg(src="/img/2019/sponsors/bloomberg.svg" alt="Bloomberg Logo")
                            
                        div.logo-1.logo-group
                            a(href="//www.accenture.com" target="_blank")
                                img#accenture(src="/img/2019/sponsors/accenture.png" alt="Accenture Logo")
                            a(href="//www.grammatech.com" target="_blank")
                                img#grammatech(src="/img/2019/sponsors/grammatech.png" alt="GrammaTech Logo")
                            a(href="//www.jetbrains.com" target="_blank")
                                img#jetbrains(src="/img/2019/sponsors/jetbrains.png" alt="JetBrains Logo")
                            a(href="//www.americanexpress.com" target="_blank")
                                img#amex(src="/img/2019/sponsors/amex.png" alt="American Express Logo")
                        
                        div.logo-0.logo-group
                            a(href="//www.chobani.com" target="_blank")
                                img#chobani(src="/img/2019/sponsors/chobani.png" alt="Chobani Logo")
                            a(href="//hort.cals.cornell.edu/about/facilities/cornell-orchards/" target="_blank")
                                img#cornell-orchards(src="/img/2019/sponsors/cornellorchards.jpg" alt="Cornell Orchards Logo")
                            a(href="//hackp.ac/mlh-stickermule-hackathons" target='_blank')
                                img#stickermule(src="/img/2019/sponsors/stickermule.svg" alt="StickerMule Logo")
                            a(href="//mlh.io/" target="_blank")
                                img#mlh(src="/img/2019/sponsors/mlh.svg" alt="MLH Logo")
                        
                        p.text.text-center More sponsors coming soon!

                    h2.section-subheader.text-center Want to sponsor us? 
                    p.text.text-center We are still accepting sponsors for our 2019 event!
                    p.text.text-center Send us an email at #[a(href="mailto:info@bigredhacks.com") info@bigredhacks.com]!

        div.footer
            .footer-img
                img(src="/img/logo/brh-horizontal-white.png")
            .btn-social-group
                a.btn.btn-social.facebook(href="https://facebook.com/bigredhacks" target="_blank")
                    span.fa.fa-facebook-square
                a.btn.btn-social.twitter(href="https://twitter.com/bigredhacks" target="_blank")
                    span.fa.fa-twitter
                a.btn.btn-social.email(href="https://twitter.com/bigredhacks" target="_blank")
                    span.fa.fa-envelope
            p Made with ❤️ from the BigRed//Hacks team
            p 
                a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank")
                    | MLH Code of Conduct


block footer
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/js/index.js")
//-     script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js")
//-     script(src="/js/jquery.validate.options.js")
//-     script(src="//cdnjs.cloudflare.com/ajax/libs/parallax/2.1.3/parallax.min.js")
    
