extends _global/_layout

block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
    //- MLH Badge
    a(id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="//mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=red" target="_blank")
        img(src="//s3.amazonaws.com/logged-assets/trust-badge/2018/red.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%")

    div#frontPage2017
        div#mainDiv
            div.paddedSection
                h1#bigred BigRed
                h1#squiggles //
                h1#hacks
                    b Hacks
                h3 Sept. 15 - 17, 2017 @ Cornell University
                 
                if isUser
                    case userRole
                        when "admin": a.btn(href="/admin/dashboard") admin dashboard
                        when "mentor": a.btn(href="/admin/dashboard") my dashboard
                        default: a.btn(href="/user/dashboard") my dashboard
                    //- a.btn(href="/live") live
                else
                    if middlehelp.isRegistrationOpen()
                        a.btn(href='/register') register
                        a.btn(href="/login") login
                    else if middlehelp.isResultsReleased()
                        a.btn(href="/login") login
        div#aboutDiv
            div.innerContent
                div.paddedSection
                    h1 About_
                    p BigRed//Hacks is the oldest student-run, large-scale hackathon at Cornell University.
                    p Across three days, students from all across the US will gather to build the coolest and most innovative projects, meet amazing people, and win some prizes along the way!
                

                    p This year, BigRed//Hacks seeks innovation in education. This will mean something different to every person. Perhaps, this means transforming the classroom, which has looked relatively the same for the past 100 years, into a dynamic experience for the next generation with technologies as reactive as students. To others, this will mean using the wide reach of the internet to ensure education is truly the great equalizer for the underrepresented, the quiet, and the forgotten. To you, this should mean something special; the experiences we live through, the opportunities we take, and the people who touch our lives and shape who we are. Education happens both within and without the classroom, and convention should not limit what you decide to build. We want you to learn and show others how to learn. We want you to speak with your audience and be spoken to. Most of all, here at BigRed//Hacks, we want you to be empowered and empower others.

                    p * We encourage all developers regardless of technical ability or hackathon experience to apply. Admission and food is free for all hackers.
        div#scheduleDiv
            h1 Schedule_
            div#schedule
                div.col-md-4
                    h4 
                        b Friday (09/15)
                    div.col-md-4
                        p 4:30p
                        p 6:30p
                        p 8:00p
                        p 9:00p
                        p 9:30p
                    div.col-md-8
                        p Participant Registration
                        p Opening Ceremony
                        p Hacking Officially Begins
                        p Dinner
                        p Extended API Demos
                div.col-md-4
                    h4
                        b Saturday (09/16)
                    div.col-md-4
                        p 12:00a
                        p 8:00a
                        p 12:00p
                        p 5:30p
                        p 7:00p
                    div.col-md-8
                        p Midnight Snack!
                        p Breakfast
                        p Lunch
                        p Shirt Giveaway
                        p Dinner
                div.col-md-4
                    h4 
                        b Sunday (09/17)
                    div.col-md-4
                        p 1:00a
                        p 7:00a
                        p 8:00a
                        p 9:00a
                        p 12:00p
                        p 3:30p
                    div.col-md-8
                        p Post-Midnight Snack!
                        p Breakfast
                        p Hacking Officially extends
                        p Project Expo
                        p Closing Ceremony
                        p Buses Depart
        div#sponsorsDiv
            div.innerContent
                div.paddedSection
                    h1 Sponsors_
                    //- TODO: add company logos. Higher tiers = bigger logos
                    //- Issue #263
                    div#logos
                        div.logo-3
                            //- Two Sigma (3)
                            img#two_sigma(src="/img/logos/twosigma.png" alt="Two Sigma Logo")
                            //- Bloomberg (3)
                            img#bloomberg(src="/img/logos/bloomberg.png" alt="Bloomberg Logo")
                            //- a16z (3)
                            img#a16z(src="/img/logos/a16z.png" alt="A16z Logo")
                        div.logo-2
                            //- Lutron (2)
                            img#lutron(src="/img/logos/lutron.png" alt="Lutron Logo")
                            //- Wayfair (2)
                            img#wayfair(src="/img/logos/wayfair.png" alt="WayFair Logo")
                        div.logo-1
                            //- D.E. Shaw (1)
                            img#de_shaw(src="/img/logos/DEShaw.png" alt="D.E.Shaw Logo")
                            img#mlh(src="/img/logos/mlh.png" alt="MLH Logo")

            //- div#bottomkeys
            //-     a#fb(href='http://www.facebook.com/BigRedHacks', target='_blank', class="keyicon")
            //-         img(src="/img/keyboard_components/Facebook.png", class="fill")
            //-     a#twitter(href='http://www.twitter.com/BigRedHacks', target='_blank', class="keyicon")
            //-         img(src="/img/keyboard_components/Twitter.png", class="fill")
            //-     a#insta(href='https://www.instagram.com/bigredhacks/', target='_blank', class="keyicon")
            //-         img(src="/img/keyboard_components/Instagram.png", class="keyicon", class="fill")
            //-     a#email(href='mailto:info@bigredhacks.com', class="keyicon")
            //-         img(src="/img/keyboard_components/Email.png", class="keyicon", class="fill")
            //-     //- TODO: Add the subscribe here 
            //-     div#spacebar(class='spacebar_subscribe')
            //-         input#reg_email(placeholder="enter your email here for updates!")
            //-     img#signup(src="/img/keyboard_components/Sign_Up.png", class="keyicon")
            //-     img#rightkeys(src="/img/keyboard_components/right_keys.png", class="keyicon")    

block footer
    script(src="//code.jquery.com/jquery-3.1.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js")
    script(src="/js/jquery.validate.options.js")
    script(src="/js/index.js")    