extends _global/_layout
//-Generates full section header
mixin sectionHeading(name)
    .section-heading.container
        img.fade-img(src='/img/fade.png')
        br
        h2.fade-heading #{name}

//- Creates a message if content exists, where type:error|success
mixin message(content, type)
    if content
        - var msg_class
        case type.toLowerCase()
            when "error": -msg_class = "alert-danger"
            when "success": -msg_class = "alert-success"
            default: -msg_class = "alert-success"
        .alert.float.alert-dismissible.float.fadeOut(class=msg_class, role="alert")
            button.close(type="button", data-dismiss="alert", aria-label="Close"): span(aria-hidden="true") &times;
            | #{content.toLowerCase()}

    if messages.error
        +message(messages.error[0].toLowerCase(), "error")
    if messages.success
        +message(messages.success[0].toLowerCase(), "success")

block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
    //- TODO: Change the font and other css to match design specs when you get them
    h1 BigRed//Hacks
    h3 Sept. 15 - 17, 2017 @ Ithaca, NY

    //- TODO: Insert text here

    //- TODO: Insert keyboard image/graphic here

    //- TODO: Add the social media icons. Check the commented out old footer below for info.

    //- TODO: Add the subscribe here 

    //- footer
    //-     +sectionHeading("")
    //-     .container
    //-         .row
    //-             .col-md-12.col-lg-12
    //-                 p.footer
    //-                     a(href='http://www.facebook.com/BigRedHacks', target='_blank')
    //-                         img.s-icon(src='img/social/icon_facebook.png', draggable='false')
    //-                     | &nbsp;&nbsp;
    //-                     a(href='http://www.twitter.com/BigRedHacks', target='_blank')
    //-                         img.s-icon(src='img/social/icon_twitter.png', draggable='false')
    //-                     | &nbsp;&nbsp;
    //-                     a(href='https://www.instagram.com/bigredhacks/', target='_blank')
    //-                         img.s-icon(src='img/social/icon_instagram.png', draggable='false')
    //-                     | &nbsp;&nbsp;
    //-                     a(href='mailto:info@bigredhacks.com')
    //-                         img.s-icon(src='img/social/icon_email.svg', draggable='false')
    //-                     | &nbsp;&nbsp;
    //-                 br
    //-                 p.footer
    //-                     | ©2017 BigRed//Hacks
    //-                     br
    //-                     //span#cover-photo-attribution
    //-                     | All other trademarks and logos ® their respective owners.
    //-                     br
    //-                     | From Ithaca with ♥

block footer
    script(src="/js/jquery.validate.options.js")
    script(src="//code.jquery.com/jquery-3.2.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
    script(src="/js/index.js")
