extends _global/_layout
//-Generates full section header
mixin sectionHeading(name)

    .section-heading.container
        img.fade-img(src='/img/fade.png')
        br
        h2.fade-heading #{name}

mixin generateFAQs(text, count)
    - for (var i=0; i<count; i++)
        .question
            p Question
            p #{text}
//- Creates a message if content exists, where type:error|success
mixin message(content, type)
    if content
        - var msg_class
        case type.toLowerCase()
            when "error": -msg_class = "alert-danger"
            when "success": -msg_class = "alert-success"
            default: -msg_class = "alert-success"
        .alert.float.alert-dismissible.float.fadeOut(class=msg_class, role="alert")
            button.close(type="button", data-dismiss="alert", aria-label="Close"): span(aria-hidden="true") &times;
            | #{content.toLowerCase()}

block append header
    link(href="/css/index.css", rel="stylesheet")
block append content
    div#splash2017
        h1#bigred BigRed
        h1#squiggles //
        h1#hacks
            b Hacks
        h3 Sept. 15 - 17, 2017 @ Cornell University

        input#scroll(type="text" class="form-control" disabled="disabled")

        div#keyboard_whole
            //- TODO: Insert keyboard image/graphic here
            img#keyboard(src="/img/keyboard_components/Keys.png")

            //- TODO: Add the social media icons. Check the commented out old footer below for info.
            div#bottomkeys
                a#fb(href='http://www.facebook.com/BigRedHacks', target='_blank', class="keyicon")
                    img(src="/img/keyboard_components/Facebook.png", class="fill")
                a#twitter(href='http://www.twitter.com/BigRedHacks', target='_blank', class="keyicon")
                    img(src="/img/keyboard_components/Twitter.png", class="fill")
                a#insta(href='https://www.instagram.com/bigredhacks/', target='_blank', class="keyicon")
                    img(src="/img/keyboard_components/Instagram.png", class="keyicon", class="fill")
                a#email(href='mailto:info@bigredhacks.com', class="keyicon")
                    img(src="/img/keyboard_components/Email.png", class="keyicon", class="fill")
                //- TODO: Add the subscribe here 
                div#spacebar(class='spacebar_subscribe')
                    input#reg_email(placeholder="enter your email here for updates!")
                img#signup(src="/img/keyboard_components/Sign_Up.png", class="keyicon")
                img#rightkeys(src="/img/keyboard_components/right_keys.png", class="keyicon")
        div#mobile_keyboard
            div#boxinput
                input#reg_email2(placeholder="enter your email here for updates!")
                button#signup2(class="btn btn-default") Sign Up!
            div#links
                a#fb(href='http://www.facebook.com/BigRedHacks', target='_blank', class="keyicon")
                    img(src="/img/keyboard_components/Facebook.png", class="fill")
                a#twitter(href='http://www.twitter.com/BigRedHacks', target='_blank', class="keyicon")
                    img(src="/img/keyboard_components/Twitter.png", class="fill")
                a#insta(href='https://www.instagram.com/bigredhacks/', target='_blank', class="keyicon")
                    img(src="/img/keyboard_components/Instagram.png", class="fill")
                a#email(href='mailto:info@bigredhacks.com', class="keyicon")
                    img(src="/img/keyboard_components/Email.png", class="fill")

            

block footer
    script(src="//code.jquery.com/jquery-3.1.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js")
    script(src="//rawgit.com/mattboldt/typed.js/master/dist/typed.min.js")
    script(src="/js/jquery.validate.options.js")
    script(src="/js/index.js")    