extends _global/_layout

block append header
    link(href="/css/org.css", rel="stylesheet")
block append content
    div#hero
    div#section__about
    div#section__team
        div.content-margins
            h1.section__header.center
                div.rect
                | Big Red Team
                div.rect
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut eros vitae leo tincidunt efficitur et eleifend urna. Orci varieeeus natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

            div.member__showcase
                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team LEADS

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team ADVISORS

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team LOGISTICS

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team MARKETING

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team SPONSORSHIP

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team FINANCE

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team DESIGN

                div.member
                    img.member__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")
                    p.member__team WEB DEVELOPMENT

            a.learn(href="#") Learn more about Recruitment and Team
            h2.section__subtitle  MEMBER SPOTLIGHT
            div.member__spotlight
                div.left
                    img.spotlight__image(src="https://images.unsplash.com/photo-1534119768988-c496213eff76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" alt="")

                div.right
                    p.spotlight__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut eros vitae leo tincidunt efficitur et eleifend urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tincidunt, nisl in consectetur lacinia, magna turpis aliquet elit, quis sagittis dui erat vitae lacus. 

                    p.spotlight__text Donec tempor fermentum malesuada. Proin quis metus justo. Ut vitae mi malesuada, molestie nisl eu, malesuada arcu. Proin molestie egestas maximus. Pellentesque sagittis at tellus a interdum.
    div#section__faq
        div.content-margins
            h1.section__header.center
                div.rect
                | Frequently Asked Questions
                div.rect
    div#footer

block footer
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/js/org.js")