@import "_global.less";

@import "_global";
@import "_fontawesome-custom";
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

@main-header-size: 68pt;
@body-line-height: 1.6em;
@body-size: 16px;

@nav-purple: lighten(fade(@purple, 70%), 20%);
@nav-blue: rgba(178, 223, 244, 0.7);
@nav-orange: fade(@orange, 70%);

@landing-box-margin: 150px;
@content-padding-left: 0%;
@content-width: 50%;

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  .noselect;
}

body {
  //width: 100%;
  //height: 100%;
  font-family: @2017-font;
  font-weight: @weight-normal;
  background-color: @2017-background;
  padding: 0;
  margin: 0;
  color: @2017-text-gray
}
@media (max-width: 768px){
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: @weight-normal;
  z-index: 999999;
}

p {
  text-align: left;
  margin: 0 0 20px;
  .lead {
    font-weight: @weight-bold;
  }
  .footer {
    font-size: 12px;
    text-align: center;
  }
}

p{
  font-size: @body-size;
  line-height: @body-line-height;
}

.light {
  font-weight: 400;
}

#mainDiv{
  background-color: @red;
  position: relative;
  height: 100vh;
  padding-top: 10vh;
  z-index: 3;
  // For the BigRed//Hacks text
  #bigred, #hacks{
    display: inline;
  }

  #squiggles{
    display: inline;
    font-weight: 400 !important;
  }

  // padding-bottom: @triangle-val;

  #headerText{
    display: inline-block;
    position:absolute;
    top: 25vh;
    h3{
      display: inline-block;
    }
  }

  #headerImg{
    text-align: right;
    padding-top: 30vh;

    img{
      width: 45%;
      margin-right: 5%;

    }
  }


  div#headerText.paddedSection {
    color: white;
  }
}

.paddedSection{
  margin: 0 15% 0 15%;
}

.home2018Column-text, .home2018Column-img {
  display: inline-block;
}

.home2018Column-text {
  width: 35%;
}

.home2018Column-img {
  width: 65%;
}

.home-2018-towers {
  width: 100%;
}

dt {
  font-weight: 700;
  margin-top: 15px;
}
dd, dt {
  line-height: 1.42857143;
}

a.register-now {
  color: @light-gray;

  &:hover {
    color: white;
  }
}

#frontPage2017 {
  h2, h3, h4 {
    font-weight: bold;
    margin: 20px 0;
  }
}

#sponsorsDiv {
  #logos {
    & > div {
      display: block;
      margin: 0 auto;
    }
    .logo-1 {
      width: 70%;

      a img {
        padding: 0 1.5%;
        width: 30.333%;
      }
    }
  }
}

.interestForm {
  display: flex;
  flex-flow: row wrap;

  label {
    padding: 5px 5px 0 0;
  }
  input, button {
    border: none;
    border-width: 0;
    align-self: center;
    height: 40px;
  }

  input {
    border: 1px solid black;
    color: rgb(114, 88, 88);
    margin-right: 5%;
    padding: 0 0 0 5px;
  }

  .field {
    flex-grow: 1;
  }
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  button.interestFormBtn {
    font-size: 15px;
    margin-top: 10px;
    width: 30%;
  }

}

.msgContainer {
  display: none;
  font-size: 20px;
  margin-top: 10px;
  padding: 1%;
  text-align: center;
  width: 100%;
  
  &.active {
    display: block;
  }

  &.err {
    background-color: rgba(255, 0, 0, .6);
  }

  &.success {
    background-color: rgba(0, 255, 0, 0.6); 
  }
}

#mlh-trust-badge {
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
  right:50px;
  top:0;
  width:10%;
  z-index:10000
}

#nav-trust-badge {
  display:block;
  max-width:125px;
  min-width:60px;
  position:fixed;
  right:50px;
  top:45%;
  width:10%;
  z-index:10000
}

.hider {
  display: inline;
}

.about-dot, .faq-dot, .interested-dot, .sponsors-dot {
  display: inline;
}